
body{
    background-color:coral;
    display: flex;
    
}
.responsive{
    width:300px;
    height:300px;
    padding:30px;
    border:10px solid red;
}
.font-resp{
    font-size:32px;
    color:blue
}

@media only screen and (max-width: 800px){
    body{
        background-color:aqua;
        flex-direction: row-reverse;
    }
    .responsive{
        width: 250x;
        height: 150px;
        padding:20px;
        border:30px solid blue;
    }
    .font-resp{
        font-size:32px;
        color:red
    }
}

@media only screen and (max-width: 480px){
    body{
        background-color:rgb(208, 228, 187);
        flex-direction: flex-start;
    }
    .responsive{
        width: 100px;
        height: 300px;
        padding:30px;
        border:50px solid green;
    }
    .font-resp{
        font-size:32px;
        color: yellow
    }
}